* {
	font-family: 'Rubik', sans-serif;
	margin: 0;
}

html, body {
    width:100%;
    height:100%;
}

body {
	background-color: rgb(45,162,246);
	background: linear-gradient(219deg, rgba(45,162,246,1) 0%, rgba(133,65,238,1) 80%);
	background-attachment:fixed;
}

.heading {
	color: white;
	text-align: center;
}

#headingDiv {
	padding: 15px;
}

#cloudImg {
	width: 30%;
	max-width: 300px;
	height: auto;
	display: block;
	margin: 5px auto;
}

hr {
	margin: 30px 0px;
}

#storageSize {
	margin: 0x;
	padding: 10px;
	font-size: 20px;
	border-radius: 7px;
	border-style: none;
}

#calculateBtn {
	background-color: white;
	border: none;
	border-radius: 7px;
  	color: black;
  	text-align: center;
  	font-size: 16px;
  	transition: 0.3s;
  	opacity: 1.0;
  	padding: 14px 28px;
  	margin: 4px 2px;
}

#calculateBtn:hover {
	background-color: #e5e5e5;
}

#allTopItems {
	padding: 10px 10px 20px 0px;
	width: 90%;
	margin: 10px auto;
}

#allListItems {
	padding: 0px 10px 10px 10px;
}

#iOSCheck, #AndroidCheck, #MacOSCheck, #WindowsCheck, #WebCheck {
	display: inline-block;
	margin: 3px;
}

.checkboxLabel {
	display:inline-block;
	padding-right: 5px;
	color: white;
}

.checkboxPrompt {
	display:inline-block;
	padding-right: 5px;
	padding-left: 5px;
	color: white;
}

.item {
	display: inline-block;
	margin: 2px 4px 2px 1px;
}

#list h3 {
	color: white;
	width: 94%;
	margin: 0px auto;
	animation: 1.5s ease-out 0s 1 fadeIn;
}

#list div {
	background-color: #e5e5e5;
	padding: 20px 15px;
	margin: 10px auto;
	border-radius: 5px;
	color: black;
	font-weight: 300;
	width: 90%;
	animation: 2s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
   0% {
   	opacity: 0;
   }
   100% {
   	opacity: 1;
   }
}